.dark-theme {
  background-color: #333;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
  border-radius: 4px;
  padding-top: 100px;
  height: 100vh;
  background-size: cover;
      background-position: center;
      color: #fff;
      padding-top: 100px;
      height: 100vh;
      font-family: Arial, sans-serif;
}

.dark-input {
  background-color: #444;
  color: #fff;
}

.dark-button {
  background-color: #7460a7;
  border-color: #7460a7;
}

.dark-button:hover {
  background-color: #5b4896;
  border-color: #5b4896;
}
