
.container {
  background-color: rgb(0, 0, 0,0.8);
  color: white;
  text-align: center;
  padding: 10%;
}

.cc1 {
  height: 100vh;
  margin: auto;
  margin-left: 4rem;
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(1.2px);
  -webkit-backdrop-filter: blur(1.2px);
}

.c1 {
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  align-content: center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  color: rgb(255, 255, 255);
  font-size: x-large;
  transition: transform 0.3s ease;
}

.mb-0 {
  cursor: pointer;
}

.c1:hover {
  transform: translateY(-5px);
}
