body {

  background: linear-gradient(to bottom, #7460a7, #ececec);

  background-size: cover;

  padding-top: 100px;

  height: 100vh;

}

 .custom-border {

  max-width: 400px;

  margin: 0 auto;

  margin-top: 50px;

  padding: 20px;

  border: 1px solid #ccc;

  border-radius: 4px;

  background-color:rgb(161, 157, 197);

 

}




.links {

  margin-top: 10px;

}

.login{

  margin-bottom: 20px;

}

.create-account span{

  cursor: pointer;

}