<head>
    <title>Bus Ticket Booking App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  
  <body>
    <div class="container">
      <h1 class="text-center mt-5">Bus Ticket Booking App</h1>
      <div class="row justify-content-center mt-5">
        <div class="col-md-8">
          <h2 class="text-center mb-4">Bus Schedule</h2>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Bus No</th>
                  <th>Bus Name</th>
                  <th>Departure Time</th>
                  <th>Arrival Time</th>
                  <th>Bus Type</th>
                  <th>Total Seats</th>
                  <th>Book Now</th>
                </tr>
              </thead>
              <tbody>
                <!-- <ng-container *ngFor="let b of busDto"> -->
                    <tr *ngFor="let schedule of schedules; let i = index">
                  <!-- <td>{{ schedule.routeId }}</td> -->
                  <td>{{ busDto[i].busNo }}</td>
                  <td>{{ busDto[i].busName }}</td>
                  <td>{{ schedule.departureTime }}</td>
                  <td>{{ schedule.arrivalTime }}</td>
                    <td>{{ busDto[i].busType }}</td>
                    <td>{{ busDto[i].totalSeats }}</td>
                  <td><a href="#" class="btn btn-primary btn-sm" (click)="bookTicket(schedule)" routerLink="/seatavailability">Book</a></td>
          </tr>
          <!-- <tr *ngFor="let b of busDto">
            
            
          </tr> -->
          
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  </body>