body{

  overflow: hidden;

}

.border{

  /* background-image: url(../../assets/image/my-image4.jpg);

  background-size: contain;

  background-repeat: no-repeat;

  background-position: center; */

 

  background: linear-gradient(to bottom, #000000, #17A2B8, #000000,#17A2B8,#000000);

  height: 100vh;

  margin: auto;

 




}

.container{

  color: white;

  text-align: center;

  padding: 10%;

}

.button-group{

  padding-top: 30px;

}

.button-group {

  display: flex;

  justify-content: space-between;

  margin-top: 20px;

 

}




.button-group button {

 

 

 background: linear-gradient(to bottom,#000000,#4caf50);

  color: white;

  padding: 12px 20px;

  margin: 8px;    border: none;

  cursor: pointer;

  width: 150px;

  border-radius: 4px;

  font-size: 16px;




}