
<style>
  body.dark-theme {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding-top: 60px;
  }
  .container {
    margin-top: 30px;
  }
  .card {
    background: rgba(26, 25, 25, 0.74);
    padding: 20px;
    color: white;
  }
  h1 {
    color: #fff;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .error-message {
    color: #f00;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(32, 28, 28,0.5);
  color: #fff;
  border-color: orange;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  button:hover {
    background-color: #ff7f00;
  }
  input[type="text"],
input[type="number"],
input[type="email"],
select {
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: yellow;
  padding: 10px;
  width: 100%;
  appearance: none; 
  height: auto;
  transition: background-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
  color: black;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
select:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-5px);
}
option{
  font-size: small;
}

  label {
    font-weight: bold;
  }
  
  p {
    margin-top: 0;
  }
</style>

<body class="dark-theme">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1>Passenger Details</h1>
        <div>
          <div class="form-group" *ngFor="let passenger of passengers; let i = index">
            <p style="font-weight: bold;">Passenger {{i+1}}</p>
            <div class="row">
              <div class="col-md-4">
                <label for="name{{i}}">Name:</label>
                <input type="text" class="form-control" id="name{{i}}" [(ngModel)]="name[i]" required>
                <div *ngIf="nameErrors[i]" class="error-message">
                  {{ nameErrors[i] }}
                </div>
              </div>
              <div class="col-md-4">
                <label for="age{{i}}">Age:</label>
                <input type="number" class="form-control" id="age{{i}}" [(ngModel)]="age[i]" required>
                <div *ngIf="ageErrors[i]" class="error-message">
                  {{ ageErrors[i] }}
                </div>
              </div>
              <div class="col-md-4">
                <label for="gender{{i}}">Gender:</label>
                <select class="form-control" id="gender{{i}}"  [(ngModel)]="gender[i]" required>
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <div *ngIf="genderErrors[i]" class="error-message">
                  {{ genderErrors[i] }}
                </div>
              </div>
              <div class="col-md-4">
                <label for="mobile{{i}}">Mobile:</label>
                <input type="text" class="form-control" id="mobile{{i}}" [(ngModel)]="mobileNo[i]" required>
                <div *ngIf="mobileErrors[i]" class="error-message">
                  {{ mobileErrors[i] }}
                </div>
              </div>
              <div class="col-md-4">
                <label for="email{{i}}">Email:</label>
                <input type="email" class="form-control" id="email{{i}}" [(ngModel)]="email[i]" required>
                <div *ngIf="emailErrors[i]" class="error-message">
                  {{ emailErrors[i] }}
                </div>
              </div>
            </div>
          </div>
          <button (click)="submitForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</body>
