.dark-theme {
  background-color: #1a1a1a;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.dark-theme h1,
.dark-theme p {
  color: #fff;
}

.dark-theme .btn-primary {
  background-color: #7460a7;
  border-color: #7460a7;
  color: #fff;
}

.dark-theme .btn-primary:hover {
  background-color: #5b4896;
  border-color: #5b4896;
}
